body {
	background-color: black;
}

.main {
	position: relative;
	background-color: white;
	height: 500px;
	margin-top: 110px;
	min-width: 1200px;
	padding-left: 100px;
}

.ryu {
	float: left;
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	position: absolute;
	z-index: 10;
	left: 540px;
    top: 167px;
}

.instructions {
	margin-top: 100px;
	width: 600px;
	height: 300px;
	color: red;
	float: left;
}

.instruction1 {
	width: 400px;
}

.instruction2 {
	width: 400px;
	float: right;
}